{% extends 'base.html' %}
{% load i18n %}
{% block title %}
<title>{% translate "Hours" %}</title>
{% endblock title %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  <div>
    <h1 class="mb-1 text-2xl font-medium text-black">{% translate "Hours" %}</h1>
    {% if hours_list %}
      <table>
      <thead>
        <th>{% translate "Date" %}</th>
        <th>{% translate "Task" %}</th>
        <th>{% translate "Hours" %}</th>
        <th colspan="2">{% translate "Action" %}</th>
      </thead>
      <tbody>
      {% for h in hours_list %}
      <tr>
        <td>{{ h.date|date:"m-d-Y" }}</td>
        <td class="px-2">{{ h.task_name }}</td>
        <td class="px-2">{{ h.hours }}</td>
        <td class="px-2">
        <a class="px-2 text-blue-800 hover:text-blue-600"
           href="{% url 'hours_update' pk=h.pk %}">{% translate "Edit" %}</a>
        </td>
        <td>
        <a class="text-red-800 hover:text-red-600"
           href="{% url 'hours_delete' pk=h.pk %}">{% translate "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
    {% else %}
    <p class="mb-1 text-base font-medium text-black">
      {% translate "You don't have any hours entered for this year yet.  Please add some!" %}</p>
    {% endif %}
    <div class="mt-2">
    <a class="text-xl text-indigo-800 hover:text-indigo-600"
       href="{% url 'hours_create' %}">{% translate "Add hours" %}</a> 
    </div>
    {% if user.is_staff %}
    <div class="mt-2">
    <a class="text-xl text-indigo-800 hover:text-indigo-600"
       href="{% url 'download' %}">{% translate "Download all hours" %}</a> 
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
