{% extends 'base.html' %}
{% load i18n %}
{% block title %}
<title>{% translate Invalid Account %}</title>
{% endblock title %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center space-x-4">
    <h1 class="text-lg mb-4">
        {% translate "Sorry, but we weren't able to (re)activate your account." %}
    </h1>
    <p class="text-wrap w-96 mb-2">
        {% translate "It's most likely that you have already activated your account, and that you are seeing this message because you have clicked the link in the confirmation email multiple times.  Please return to the home page.  If you're not already logged in, try to log in using the username and password you specified when you registered." %}
    </p>
    <p class="text-wrap w-96 mb-2">{% translate "You may wish to try registering again, but with a different username."}
    </p>
</div>
{% endblock content %}

