{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
    <title>{% translate "DAWN Apps" %}</title>
		{% endblock %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" sizes="any" type="image/svg+xml"
          href="{% static 'images/favicon.svg' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'images/apple-touch-icon.png' %}">
    <!-- <meta name="msapplication-TileColor" content="#da532c"> -->
    <!-- <meta name="theme-color" content="#ffffff"> -->
    <!-- TODO: add Google analytics... -->
    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3CM9FJ8Z0"></script> -->
    <!-- <script> -->
      <!-- window.dataLayer = window.dataLayer || []; -->
      <!-- function gtag(){dataLayer.push(arguments);} -->
      <!-- gtag('js', new Date()); -->
      <!-- gtag('config', 'G-H3CM9FJ8Z0'); -->
    <!-- </script> -->
		{% tailwind_css %}
    {% block style %}
    {% endblock style %}
    {% block script %}
    {% endblock script %}
	</head>

	<body class="bg-gray-50 font-sans leading-normal tracking-normal">
    <div class="flex flex-col h-screen">
		 <!-- NAVBAR COMPONENT -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 py-2 px-3 font-serif print:hidden">
      <div class="flex items-center flex-shrink-0 mr-4">
        <a href="https://dawnus.org/" target="_blank"
          class="text-xl text-teal-500 hover:text-white">
          DAWN</a>
      </div>

      <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          {% if user.is_authenticated %}
            <a
              href="{% url 'hours_list' %}"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white text-lg mr-4"
            >
            {% translate "Hours" %}
            </a>
          {% endif %}
        </div>
        <div>
          {% if user.is_authenticated %}
            <form action="{% url 'set_lang' %}" method="POST" name="set_lang" value="set_lang"
              class="inline-block">
              {% csrf_token %}
              <select id="lang" name="lang">
                <option
                  {% if request.session.django_language == "us-en" %} selected {% endif %}
                  value="en-us"
                  >English (англійська)</option>
                <option
                  {% if request.session.django_language == "uk" %} selected {% endif %}
                  value="uk"
                  >Ukranian (українська)</option>
              </select>
            </form>
            &nbsp;
            <span class="mt-4 text-white">{% translate "User" %}: {{user}}</span>
            <form action="{% url 'logout' %}" method="POST" name="logout" value="logout"
              class="inline-block">
              {% csrf_token %}
              <input
                type="submit"
                value="{% translate "Log out" %}"
                class="block mt-4 inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
               >
            </form>
          {% else %}
            <a
              href="{% url 'login' %}"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
              >{% translate "Log in" %}</a
            >
            <!-- <a -->
            <!--   href="{% url 'register' %}" -->
            <!--   class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4" -->
            <!--   >Register</a -->
            <!-- > -->
          {% endif %}
        </div>
      </div>
    </nav>
    <!--<div class="container mx-auto h-full py-10">-->
		<div class="container mx-auto mb-auto overflow-y-auto py-10 print:py-0">
			<section class="flex items-center justify-center print:items-left print:justify-left">
				{% block content %}
				{% endblock %}
			</section>
		</div>
    <footer class="px-4 py-2 bg-gray-800 text-xs text-left text-white print:hidden">
      <span class="mx-4">{% translate "Copyright" %} &copy; {% now 'Y' %} DAWN.</span>
    </footer>
    </div>
	</body>
  <script>
 (() => {
    document
      .getElementById("lang")
         .addEventListener("change", () => {
            document.forms["set_lang"].submit()
         });

  })();
  </script>
</html>
